{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Matthew Freeman</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head>
<body>
	<!-- Static Navbar through BOotstrap -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'cv:index' %}">Matthew R Freeman</a>
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span>Show Items</span>
				</button>
			</div>

			<!-- Collapsible Portion -->
			<div id="navbarToggler" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'cv:jobs' %}">Jobs</a></li>
				<li><a href="{% url 'cv:education' %}">Education</a></li>
				<li><a href="{% url 'cv:skills' %}">Skills</a></li>
			</ul>
		</div>
	</nav>
{% block content %}{% endblock content %}
</body>
</html>

