{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
	<title>Matthew Freeman</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'cv/favicon.ico' %}"/>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
</head>
<body style="background-image: url('{% static 'cv/mountainbg.png' %}');background-repeat: no-repeat; background-size: cover; background-position: center bottom; background-attachment: fixed; height:100%">
	<!-- Static Navbar through Bootstrap -->
	<nav class="navbar navbar-expand-md navbar-light" style="background-color: #98d6f9;">
		<a class="navbar-brand" href="{% url 'cv:index' %}">Matthew R Freeman</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

		<!-- Collapsible Portion -->
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'cv:jobs' %}">Jobs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'cv:education' %}">Education</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'cv:skills' %}">Skills</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'cv:contact' %}">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'cv:download' %}">Downloadable Resume</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- Main Content -->
		<div class="page-header">
			{% block header %}{% endblock header %}
		</div>
		<div class="container">
			{% block content %}{% endblock content %}
		</div>
</body>
</html>

