{% extends "cv/base.html" %}
{% load static %}

{% block header %}
	<div class="jumbotron mt-2">
		<h1 class="display-4">Contact Information</h1>
	</div>
{% endblock header %}

{% block content %}
	<div class="card-deck">
		<a class="card border-secondary mb-3" href="mailto:mfreewebdev@gmail.com">
			<img class="card-img-top" src="{% static 'cv/envelope.png' %}" alt="Email">
  			<div class="card-body text-white" style="background-color: #135c96;">
  				<h5 class="card-text">Email</h5>
			</div>
		</a>
		<a class="card border-secondary mb-3" href="https://github.com/multapaucis">
			<img class="card-img-top" src="{% static 'cv/Github_Logo.png' %}" alt="Github Logo">
  			<div class="card-body text-white" style="background-color: #135c96;">
				<h5 class="card-text">Github</h5>
			</div>
		</a>
		<a class="card border-secondary mb-3" href="https://www.linkedin.com/in/matthewrfree/">
			<img class="card-img-top" src="{% static 'cv/LinkedIn_Logo.png' %}" alt="LinkedIn Logo">
  			<div class="card-body text-white" style="background-color: #135c96;">
  				<h5 class="card-text">LinkedIn</h5>
			</div>
		</a>
	</div>

{% endblock content %}