{% extends "cv/base.html" %}

{% block header %}
	<div class="jumbotron mt-2">
		<h1 class="display-4">Contact Information</h1>
	</div>
{% endblock header %}

{% block content %}
	<div class="card-deck">
		<div class="card text-white bg-info mb-3">
			<h5 class="card-header">Email</h5>
  			<div class="card-body bg-light">
				<a class="card-title" href="mailto:mfreewebdev@gmail.com">mfreewebdev@gmail.com</a>
			</div>
		</div>
		<div class="card text-white bg-info mb-3">
			<h5 class="card-header">Github</h5>
  			<div class="card-body bg-light">
				<a class="card-title" href="https://github.com/multapaucis">MultaPaucis</a>
			</div>
		</div>
		<div class="card text-white bg-info mb-3">
			<h5 class="card-header">LinkedIn</h5>
  			<div class="card-body bg-light">
				<a class="card-title" href="https://www.linkedin.com/in/matthewrfree/">matthewrfree</a>
			</div>
		</div>
	</div>

{% endblock content %}