{% extends "cv/base.html" %}


{% block header %}
	<div class="jumbotron mt-2">
		<h1 class="display-4">Education</h1>
	</div>
{% endblock header %}

{% block content %}

{% for school in education %}
	<div class="card border-secondary mb-3">
		<h5 class="card-header text-white" style="background-color: #135c96;">{{ school.school_name }}</h5>
		<div class="card-body">
			<h6 class="card-title text-secondary mtb-2">{{ school.date_started|date:"F Y"}} - {{ school.date_finished|date:"F Y" }}</h6>
			<ul class="card-text">
				<li>{{ school.degree }}</li>
				<li>{{ school.location }}</li>
			</ul>
		</div>
		</div>
{% empty %}
	<div class="card text-white bg-warning mb-3">
		<div class="card-body">
			<p class="card-text">Looks like no Education information has been added yet</p>
		</div>
	</div>
{% endfor %}


{% endblock content %}