{% extends "cv/base.html" %}

{% block header %}
	<div class="jumbotron mt-2">
		<h1 class="display-4">Web Developer</h1>
	</div>
{% endblock header %}

{% block content %}

<h2>Experienced in the finance industry, and transitioning into becoming a Web Developer. Capable in both the Front-End and Back-End aspects of web development; with a portfolio of self-produced Web Applications. Looking to join a team where it possible to create great things while also continuing to learn.</h2>

{% endblock content %}