{% extends "cv/base.html" %}
{% load static %}

{% block header %}
	<div class="jumbotron">
		<h1 class="display-4">Web Developer. </h1>
		<p class="lead">Capable in both the Front-End and Back-End aspects of web development. Looking for an opportunity to meaningfully contribute to team projects while also continuing to grow as a Developer.</p>
	</div>
{% endblock header %}

{% block content %}

<div class="card border-secondary mb-3">
	<h3 class="card-header text-white" style="background-color: #135c96;">About Me</h3>
	<div class="card-body">
		<img class="rounded-circle" src="{% static 'cv/selfSnow.jpg' %}" alt="Photo of Matt Freeman"  style="float: left; margin:10px; max-height:200px">
		<p class="card-text">I’m a Third Generation San Diegan, but have spent time living in D.C., Wyoming, and currently find my self in Colorado living my childhood dream of having a season pass for Snowboarding.
		</p>
		<p class="card-text">I've been making websites since I was 11 years writing in plain HTML on GeoCities. I'm now looking to do it for a living.</p>
	</div>
</div>
<div class="card border-secondary mb-3">
	<h4 class="card-header text-white" style="background-color: #135c96;">Interests</h4>
	
	<div class="card-body">
		<div class="card-deck">
			{% for interest in interests %}
			<div class="card">
				<h5 class="card-header text-white" style="background-color: #298cce;">{{ interest.interest_name}}</h5>
				<div class="card-body">
					<p class="card-text">{{interest.description}}
					</p>
				</div>
			</div>
			{% empty %}
			<div class="card text-white bg-warning border-secondary mb-3">
				<div class="card-body">
					<h5 class="card-title">Looks like I'm a Robot with no Interests</h5>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
</div>

{% endblock content %}